.Root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Input {
  width: 75px;
  padding: 5px;
  border: 1px solid rgb(234, 244, 255);
  border-radius: 2em;
  color: rgb(234, 244, 255);
  background-color: rgb(77, 86, 94);
  text-align: center;
  font-size: 16px;
}

.Scale {
  text-align: left;
}

.Slider {
  margin: 10px;
}

.Frame {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  width: 512px;
  height: 512px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0.2);
}

.Image {
  border-radius: 0.25em;
  border: 1px solid rgb(171, 182, 192);
  background-color: rgb(96, 106, 114);
  max-width: 100%;
  max-height: 100%;
}
